@media (max-width: 1130px) {
    body {
        background: linear-gradient(90deg, rgba(9,9,9,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .scorpion {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

}

@media (max-width: 640px) {
    .modal #video {
        width: 550px;
        height: 300px;
    }
}

@media (max-width: 555px) {
    .modal #video {
        width: 500px;
        height: 280px;
    }
}

@media (max-width: 516px) {
    .modal #video {
        width: 4700px;
        height: 280px;
    }
}

@media (max-width: 515px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-titulo {
        max-width: 75%;
    }

    .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 370px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}